body {
    background-image: url(background.jpg);
    background-size: cover;
    background-color: rgb(230, 150, 6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}
header{
    background-color: rgb(255, 168, 7) ;
    margin-inline-start: right;
    text-align: center;
    padding: 25px;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    width: 110px;
    float: left; 
    margin: 0%;
    text-align: center;
}

.navbar ul {
    text-align: center;
    list-style-type: none;
    background-color: rgb(60, 12, 1);
    padding: 0;
    margin: 0; 
    overflow: hidden;
    border-bottom: 3px solid transparent;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none; 
    padding: 20px;
    display: block;
    text-align: left;
}
.navbar a:hover{
    background-color: rgb(255, 129, 50);
    border-bottom: 3px solid rgb(223, 57, 15);
}
.navbar .active {
    border-bottom: 3px solid rgb(223, 57, 15); /* Apply border to active link */
}
.navbar li{
    float: left;
}
main{
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: whitesmoke;
}
p{
    margin:10px;
    color: whitesmoke;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    clear: both;
    background-color: rgb(255, 168, 7);
    text-align: center;


}
