body {
    background-image: url(background.jpg);
    background-size: cover;
    background-color: rgb(230, 150, 6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0%;
    padding: 0%;
}
header{
    background-color: rgb(255, 168, 7) ;
    margin-inline-start: right;
    text-align: center;
    padding: 25px;
    width: 100%;
}
/* Base styles for desktop */
.container {
    width: 1080px; /* Fixed width for desktop */
    margin: 0 auto; /* Center the container */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 90%; /* Fluid width for smaller screens */
    }
}

/* Responsive styles for even smaller screens */
@media (max-width: 480px) {
    .container {
        width: 100%; /* Full width for extra small screens */
    }
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    width: 112px;
    float: left; 
    margin: 0%;
    text-align: center;
}
.navbar{
    width: 100%;
}
.navbar ul {
    padding: 0;
    margin: 0; 
    text-align: center;
    list-style-type: none;
    background-color: rgb(60, 12, 1);
    overflow: hidden;
    border-bottom: 3px solid transparent;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none; 
    padding: 25px;
    display: block;
    text-align: left;
}
.navbar a:hover{
    background-color: rgb(255, 129, 50);
    border-bottom: 3px solid rgb(223, 57, 15);
}
.navbar .active {
    border-bottom: 3px solid rgb(223, 57, 15); /* Apply border to active link */
}
.navbar li{
    float: left;
}
main{
    float: centre;
    margin: 10px auto;
    padding-top: 35px;
    text-align: center;
    color: whitesmoke;
}
.img{
    float: left;
}
p{
    margin: 0px;
    color: whitesmoke;
    text-align: center;
}
footer{
    position: fixed;
    text-align: center;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    margin: 0%;
    display: block;
    clear: both;
    background-color: rgb(255, 168, 7);



}
